html, body {
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0.5em;
}
.colors-selector{
    border: 0.5px solid #313131;
    height: 8vh;
    width: 10vw;
}

.mode-selector{
    padding: 1em 0.5em;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 55vw;
    height: 11vh;
    font-size: 1rem;
}

.get-color-scheme-btn{
    background-color: white;
    border: 1px solid #D1D5DB;
    padding: 1em 0.5em;
    border-radius: 4px;
    height: 11vh;
    width: 25vw;
}

.colors{
    display: flex;
    width: 100%;
}

.color{
    text-align: center;
}
.color-banner{
    height: 100vh;
    width: 19.5vw;
}